nav {
  height: 80px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  div {
    button {
      border: 3px solid white;
      background: transparent;
      font-weight: bold;
      font-size: 20px;
      padding: 12px;
      color: white;
    }

    ul {
      display: flex;
      gap: 24px;
      color: white;
      transition: all 0.3 ease;
      li:nth-child(1) {
        color: #8d9092;
      }

      li:hover {
        color: rgb(255, 255, 255, 0.5);
      }
    }
  }
}
